{%- macro formatValueType(valueType, nullable, objectsLinks) -%}
    {%- import _self as self -%}
    {%- import '../utils.twig' as utils -%}

    {%- if valueType.baseTypeName == "Map" -%}
        {%- set keysType = self.formatValueType(valueType.keysType, false, objectsLinks) -%}
        {%- set valuesType = self.formatValueType(valueType.valuesType, false, objectsLinks) -%}
        {%- set mapType = concat("Map&lt;", keysType, ", ", valuesType, "&gt;") -%}

        {{- utils.formatNullable(mapType, nullable) -}}
    {%- elseif valueType.baseTypeName == "Array" -%}
        {%- set itemsType = self.formatValueType(valueType.itemsType, false, objectsLinks) -%}
        {%- set arrayType = concat(itemsType, "[]") -%}

        {{- utils.formatNullable(arrayType, nullable) -}}
    {%- else -%}
        {%- set link = null -%}

        {%- for name, path in objectsLinks -%}
            {%- if name == valueType.baseTypeName -%}
                {%- set link = path -%}
            {%- endif -%}
        {%- endfor -%}

        {%- if link is not null -%}
            <a class="info" href="{{ link }}">{{- utils.formatNullable(valueType.typeName, nullable) -}}</a>
        {%- else -%}
            {{- utils.formatNullable(valueType.typeName, nullable) -}}
        {%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{%- import _self as self -%}
{%- import '../utils.twig' as utils -%}

<div class="row-body">
    <div>{{ field.jsonName }}</div>
    <div>
    {{ self.formatValueType(field.type.type, default(isNullable, field.nullable), objectsLinks) }}
    </div>
    <div>{{ field.description }}</div>
    <div>{{ utils.optionalDescription(field.optional) }}</div>
</div>