{%- if methods is not null %}
    <li>
            <h2 class="numbered-contents__title">
                <a href="{% if useAnchors %}#{{ methods.anchorPath }}{% else %}{{ methods.path }}{% endif %}">Методы</a>
            </h2>
            <ol>
            {% for methodsGroup in methods.items %}
                <li>
                    <a href="{% if useAnchors %}#{{ methodsGroup.anchorPath }}{% else %}{{ methodsGroup.path }}{% endif %}">{{ methodsGroup.title }}</a>
                    <ol>
                    {% for method in methodsGroup.items -%}
                        <li><a href="{% if useAnchors %}#{{ method.anchorPath }}{% else %}{{ method.path }}{% endif %}">{{ method.title }}</a></li>
                    {% endfor -%}
                    </ol>
                </li>
            {% endfor %}
            </ol>
    </li>

{%- endif %}

{%- if classes is not null %}
    <li>
        <h2 class="numbered-contents__title">
            <a href="{% if useAnchors %}#{{ classes.anchorPath }}{% else %}{{ classes.path }}{% endif %}">Классы</a>
        </h2>
        <ol>
            {% for class in classes.items -%}
                <li><a href="{% if useAnchors %}#{{ class.anchorPath }}{% else %}{{ class.path }}{% endif %}">{{ class.title }}</a></li>
            {% endfor %}
        </ol>
    </li>
{% endif %}

{%- if enums is not null %}
    <li>
        <h2 class="numbered-contents__title">
            <a href="{% if useAnchors %}#{{ enums.anchorPath }}{% else %}{{ enums.path }}{% endif %}">Перечисления</a>
        </h2>
        <ol>
            {% for enum in enums.items -%}
                <li><a href="{% if useAnchors %}#{{ enum.anchorPath }}{% else %}{{ enum.path }}{% endif %}">{{ enum.title }}</a></li>
            {% endfor %}
        </ol>
    </li>
{%- endif %}